#sales_rep_home {
  /*--------------------------------------------------------------
  # Clients Section
  --------------------------------------------------------------*/
  .section-bg-clients{
    background: #C01921;
    height: 100vh;
  }

  .section-title {
    h1 {
      color: #202020 !important;
      font-size: 3rem !important;
    }
    p {
      color: #202020 !important;
    }
  }
  .logo {
    height: 50vh;
  }
  .adjust-logo-middle {
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
  }
  #homescreen-menu-options {
    line-height: 2;
    text-align: center;
    color: #042E64;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .custom-font-size {
    font-size: 0.57rem;
    font-weight: bold;
    padding: .375rem .45rem;
  }
  @media (max-width: 768px) {
    .custom-font-size {
      margin-right: 0.25rem;
    }
    .primary-buttons {
      a.custom-font-size {
        &:last-child {
          margin-right: 0;
          padding: .375rem .875rem;
        }
      }
    }
  }
  
}
